source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0

github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

nuget FSharp.Core
